<template>
    <lightning-card title="Search Account" icon-name="custom:custom55" >
       <lightning-input type="search" onchange={handleSearchAccounts} label="Search" ></lightning-input> 
        <template if:true={accountList}>
            <template for:each={accountList} for:item="acc">
                <c-account-card key={acc.Id} account-record={acc} ></c-account-card>
            </template>
        </template>
    </lightning-card>
</template>