<template>
    <lightning-layout vertical-align="center">
        <lightning-layout-item >
            {accountRecord.Name}
            {accountRecord.AccountNumber}
        </lightning-layout-item>
    </lightning-layout>
</template>