<template>
    <lightning-card title="Controls" icon-name="action:upload">
        <lightning-layout>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <lightning-button label="Subtract" icon-name="utility:dash" onclick={handleSubtract}></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small" >    
                <template for:each={factors} for:item="factor" onclick={handleMultiply}>
                    <c-button005
                    key={factor}
                    label={factor}
                    data-factor={factor}
                    icon="utility:close">
                    </c-button005>
                </template>
                <lightning-button label="Multiply" icon-name="utility:close" ></lightning-button>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">    
                <lightning-button label="Add" icon-name="utility:add" onclick={handleAdd}></lightning-button>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>